apiVersion: apps/v1
kind: Deployment
metadata:
  name: appointment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: appointment-service
  template:
    metadata:
      labels:
        app: appointment-service
    spec:
      imagePullSecrets:          # ✅ correct — under template.spec
        - name: ecr-secret
      containers:
        - name: appointment-service
          image: 038462776086.dkr.ecr.ap-south-2.amazonaws.com/bayer/appointment-service:latest
          ports:
            - containerPort: 3001

---
apiVersion: v1
kind: Service
metadata:
  name: appointment-service
spec:
  selector:
    app: appointment-service
  ports:
    - port: 3001
      targetPort: 3001
  type: ClusterIP
