apiVersion: apps/v1
kind: Deployment
metadata:
  name: patient-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: patient-service
  template:
    metadata:
      labels:
        app: patient-service
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
        - name: patient-service
          image: 038462776086.dkr.ecr.ap-south-2.amazonaws.com/bayer/patient-service:latest
          ports:
            - containerPort: 3000

---
apiVersion: v1
kind: Service
metadata:
  name: patient-service
spec:
  selector:
    app: patient-service
  ports:
    - port: 3000
      targetPort: 3000
  type: ClusterIP